
# Database URL format: postgres://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=
DIRECT_URL=
POOLER_URL=

# Server configuration
PORT=3333
API_PUBLIC_URL=http://localhost:3333
CORS_ORIGINS=http://localhost:5173

# JWT configuration
JWT_SECRET=""
JWT_EXPIRES_IN="7d"
